<html>
    <body>
        <form action="/motoristas" method="post">
            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Digite o nome"/>
            </div>
            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>
