<html>
    <body>
        <form action="/motoristas" method="post">
            <div class='erros'>
               <%if(errosValidacao){%>
                  <ul>
                      <%for(var i=0;i<errosValidacao.length;i++){%>
                          <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                      <%}%>
                  </ul>
               <%}%>
            </div>
            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" value="<%=motorista.nome%>" placeholder="Digite o nome"/>
            </div>
            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>
